@page
@model EDP.Pages.PurchaseHistory.UserPurchaseHistoriesModel
@{
    ViewData["Title"] = "Purchase History";
}

<h1 class="display-4">@ViewData["Title"]</h1>
@{
    foreach (var PH in Model.UserPurchaseHistories)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Order Number:
                    <br>
                    @PH.purchase_history_id
                </div>
                <div class="col-sm">
                    Date of order:
                    <br>
                    @PH.purchase_date.ToShortDateString()
                </div>
                <div class="col-sm">
                    Payment Reference Code:
                    <br>
                    @PH.payment_reference_code
                </div>
            </div>
        </div>

        foreach (var item in Model.UserPurchaseItems)
        {
            if (item.purchase_history_id == PH.purchase_history_id)
            {
                <div class="row">
                    <div class="col">
                        <img id="imgPreview" class="rounded-3" width="100" style="float:left;padding-right:20px;"
                         src="@(string.IsNullOrEmpty(item.product_image) ? "/images/user.png" : item.product_image)"
                         onerror="this.src='/images/user.png'" />
                       
                        
                        <h6 class="text-black mb-0 " style="padding-left:20px;">@item.product_name</h6>
                        <h6 class="text-muted">Expiry date: @item.expiry_date</h6>
 
                        <h6 class="text-muted">Price for one: @String.Format("{0:c}", item.price)</h6>
                    </div>
                    <div class="col-4 col-lg-2">
                   <h6 class="text-black mb-0 " style="padding-left:20px;">@item.quantity</h6>

                    </div>
               

                </div>
            
                <br>
            }
        }
        <br />
    }
}

