@page
@model EDP.Pages.ClaimVoucherModel
@{
    ViewData["Title"] = "Claim Vouchers";
}

<h1 class="display-4">@ViewData["Title"]</h1>
@{
    @foreach (var item in Model.VoucherList)
    {
        <div class="card" style="width:18rem;display: inline-block;">
            <div class="card-body">
                <h5 class="card-title">@item.voucher_name</h5>
                <p class="card-text">
                Expiry Date: @item.expiry_date.ToShortDateString()
                <br>
                Points Required: @item.points_required
                </p>
                <a asp-page="/ClaimedVouchers/AddClaim" asp-route-voucherid="@item.voucher_id" class="btn btn-primary">Claim</a>
            </div>
        </div>
    }
}


