@page
@model EDP.Pages.Vouchers.IndexModel
@{
    ViewData["Title"] = "Vouchers";
}
<h1 class="display-4">@ViewData["Title"]</h1>
@{
    @if (Model.VoucherList != null)
    {
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.VoucherList[0].voucher_id)</th>
                    <th>@Html.DisplayNameFor(model => model.VoucherList[0].voucher_name)</th>
                    <th>@Html.DisplayNameFor(model => model.VoucherList[0].expiry_date)</th>
                    <th>@Html.DisplayNameFor(model => model.VoucherList[0].percentage_off)</th>
                    <th>@Html.DisplayNameFor(model => model.VoucherList[0].points_required)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    @foreach (var item in Model.VoucherList)
                    {
                        <tr>
                            <td>@item.voucher_id</td>
                            <td>@item.voucher_name</td>
                            <td>@item.expiry_date.ToShortDateString()</td>
                            <td>@item.percentage_off</td>
                            <td>@item.points_required</td>
                            <td>
                                <a asp-page="/Vouchers/Update" asp-route-id="@item.voucher_id">Update</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No vouchers have been created. </p>
    }
}

<a class="btn btn-primary mt-3" href="/Vouchers/Add">Add Voucher</a>
