@page
@model EDP.Pages.User.IndivProductsModel
@{
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-item-center">
            <div class="col-md-6">
                <img id="imgPreview" style="height:600px;width:600px;object-fit:cover"
                     src="@(string.IsNullOrEmpty(Model.myProduct.product_image) ? "/images/user.png" : Model.myProduct.product_image)"
                     onerror="this.src='/images/user.png'" />
                <input class="form-control d-none" asp-for="@Model.myProduct.product_image" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.myProduct.product_name</h1>
                <div class="fs-5 mb-5">
                    <span>$@Model.myProduct.price</span>
                </div>
                <p class="lead">
                    @Model.myProduct.description
                </p>
                <a asp-page="#" asp-route-id="@Model.myProduct.user_id"><button>Add to Cart</button></a>
            </div>
        </div>
    </div>
</section>