@page
@model EDP.Pages.Volunteer.IndexModel
@{
    ViewData["Title"] = "All Donation Requests";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Full Address</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].collection_date)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].collection_time)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].type_of_waste)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        @{
            @foreach (var item in Model.DonationList)
            {
                <tr>
                    <td>
                        @item.address<br>
                        #@item.unit_no<br>
                        Singapore @item.postal_code
                    </td>
                    <td>@item.collection_date</td>
                    <td>@item.collection_time</td>
                    <td>@item.type_of_waste</td>
                    <td>
                        <form method="post" asp-route-donationid="@item.user_donation_id" asp-route-userid=@Model.VolunteerUserID>
                            <a asp-page="/Volunteer/Requests" asp-route-userid=@Model.VolunteerUserID>
                                <input type="submit" value="Accept Request" class="btn btn-primary" >
                            </a>
                        </form>
                    </td>>  
                </tr>
            }
        }
    </tbody>
</table>