@page
@model EDP.Pages.Volunteer.RequestsModel
@{
    ViewData["Title"] = "My Volunteer Requests";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Full Address</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].type_of_waste)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].collection_date)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].collection_time)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].waste_image)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].waste_weight)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].drop_off_point)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].collection_done)</th>
            <th>@Html.DisplayNameFor(model => model.DonationList[0].drop_off_done)</th>
            <th>Action</th>
        </tr>
    <tbody>
            @{
                @foreach (var item in Model.DonationList)
                {
                <tr>
                    <td>
                        @item.address<br>
                        #@item.unit_no<br>
                        Singapore @item.postal_code
                    </td>
                    <td>@item.collection_date</td>
                    <td>@item.collection_time</td>
                    <td>@item.type_of_waste</td>
                    <td>
                        <img id="imgPreview" class="rounded-circle" style="height:100px;width:100px;object-fit:cover"
                         src="@(string.IsNullOrEmpty(item.waste_image) ? "/images/user.png" : item.waste_image)"
                         onerror="this.src='/images/user.png'" />
                        <input class="form-control d-none" asp-for="@item.waste_image" />
                    </td>
                    <td>@item.waste_weight</td>
                    <td>@item.drop_off_point</td>
                    <td>@item.collection_done</td>
                    <td>@item.drop_off_done</td>
                    <td><a asp-page="/Volunteer/Details" asp-route-id="@item.user_donation_id">View</a></td>
                </tr>
                }
            }
    </tbody>
</table>